<h1>Rock, Paper, Scissors</h1>

<p>To play this game, choose a throw:</p>

<br/>

<ul>
	<li><%= link_to "Rock", rock_paper_scissor_path("rock") %></li>
	<li><%= link_to "Paper", rock_paper_scissor_path("paper") %></li>
	<li><%= link_to "Scissors", rock_paper_scissor_path("scissors") %></li>
</ul>
