<h1>Well....</h1>
<h2> I guessed <%= @computer_throw %></h2>
<h2> You guessed <%= @user_throw %> </h2>
<hr/>
<h3><%= @msg %><h3>
  
<h3><%= link_to "PLAY AGAIN", rock_paper_scissor_path("new") %></h3>
</p>