<h1>Welcome to the Game Center!</h1>

<p>Choose a game below to get started:</p>

<br/>
  <ul>
      <li><%= link_to "SECRET NUMBER", secret_number_path("new") %></li>
      <li><%= link_to 'ROCK PAPER SCISSORS', rock_paper_scissor_path("new") %></li>
  </ul>
