<h1>Welcome to RetFlix! See our collection of movies below).</h1>

<%= render 'search' %>

<% @movies.each do |movie|%>
<section>

  <h3><%=link_to movie.name, movie_path(movie.id)%></h3>
  <p> <%=movie.description%></p>
  <p><%= image_tag movie.image%></p>
</section>

<%end%>
